# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
GPS/gen_misc.bat
tools/FLASH_DOWNLOAD_TOOLS_V3.6.2.2/bin_tmp/downloadPanel1/user1.4096.new.4.bin_rep
tools/FLASH_DOWNLOAD_TOOLS_V3.6.2.2/bin_tmp/downloadPanel1/user1.4096.new.4.bin_rep
tools/FLASH_DOWNLOAD_TOOLS_V3.6.2.2/configure/esp8266/multi_download.conf
tools/FLASH_DOWNLOAD_TOOLS_V3.6.2.2/configure/esp8266/spi_download.conf
